<h1>Events</h1>

<ul>
<% @events.each do |event| %>
<li> <%= event %>
  <a href="/events/<%= event["Id"] %>">
    <%= event["EventGroupName"] %> @ <%= event["VenueName"] %>
 </a>
</li>
<% end %>
</ul>
